.chat-main
  .group-info
    .left-box
      %p.current-group グループ名 techtechtechtechkkkkkkkkkkkkkkkk
      %p.member-list member: taro
    .edit
      = link_to "#", class: "edit__btn" do
        Edit
  .message-list
    .messages
      %ul.message-info
        %li.message-info__member taro
        %li.message-info__date yyyy/mm/dd
      .messages__text おはよううううううううううううううううううううううううううう
  .message-form
    .form
      %form.new-message
        .message-box
          %input{class: "message-box__input", placeholder: "type a message", type: "text"}
          %label{class: "message-box__image", title: "画像を添付"}
            = icon('far', 'image', class: "message-box__icon")
            %input{type: "file", class: "message-box__btn"}
        %input{type: "submit", class: "send-btn", value: "Send", title: "メッセージを送信"}