.side-bar
  .user-name
    .top-items
      .name taro
      .icons
        = link_to "#", class: "icons__btn icons__btn--edit" do
          = icon('fas', 'edit',  class: "icons__btn--icon") 
        = link_to "#", class: "icons__btn icons__btn--cog" do
          = icon('fas', 'cog',  class: "icons__btn--icon") 
  .groups
    .group-lists
      .group-main グループ名
      .last-message まだメッセージはありません